@import url(./font/baijamjuree-regular.ttf);

*{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@font-face {
    font-family: 'Bai Jamjuree';
    src: url(.font/baijamjuree-regular.ttf);
  }

